@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
}

p {
  margin: 50px;
}

i {
  margin-right: 5px;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
